In [1]:
"""
Tarea:
Iterar sobre una lista de fechas:
Pero no cualquier fecha.
Fechas en japonés
"""
dias = range(1,32) # esto va a ser un listado de integers (del 1 al 31)
meses = range(1,13) #esto va a ser un listado de integers (del 1 al 12)


# implementar un listado de fechas en japonés
# utilizando dias y meses
kanji_gatsu = " 月 "
kanji_nichi = " 日 "
for mes in meses:
    for dia in dias:
        print(str(mes) + kanji_gatsu + str(dia) + kanji_nichi)
        


# bonus:
# si los dias en japones ocupan una y en su nombre real (yokka)
# concatenar el string "yyyyy"
# ejemplo:
# 1 gatsu 4 nichi yyyyy

SyntaxError: invalid syntax (2558096614.py, line 17)

In [1]:
edad = input("Introduzca su edad: ")
int_edad = int(edad) 
cant_años = range(1,int_edad+1)

for año in cant_años:
    if año == 1:
        print (f"El usuario cumplió 1 año") 
    else: 
        print(f"El usuario cumplió {año} años")

Introduzca su edad: 31
El usuario cumplió 1 año
El usuario cumplió 2 años
El usuario cumplió 3 años
El usuario cumplió 4 años
El usuario cumplió 5 años
El usuario cumplió 6 años
El usuario cumplió 7 años
El usuario cumplió 8 años
El usuario cumplió 9 años
El usuario cumplió 10 años
El usuario cumplió 11 años
El usuario cumplió 12 años
El usuario cumplió 13 años
El usuario cumplió 14 años
El usuario cumplió 15 años
El usuario cumplió 16 años
El usuario cumplió 17 años
El usuario cumplió 18 años
El usuario cumplió 19 años
El usuario cumplió 20 años
El usuario cumplió 21 años
El usuario cumplió 22 años
El usuario cumplió 23 años
El usuario cumplió 24 años
El usuario cumplió 25 años
El usuario cumplió 26 años
El usuario cumplió 27 años
El usuario cumplió 28 años
El usuario cumplió 29 años
El usuario cumplió 30 años
El usuario cumplió 31 años

In [ ]:
numero = input("Introduzca un número: ")
int_numero = int(numero) 
asteriscos = range(1,int_numero+1)

for asterisco in asteriscos:
    if asterisco == 1:
        print ("*") 
    else:
        print (f"*" * )

In [8]:
numero = input("Introduzca un número: ")
int_numero = int(numero) 
asteriscos = range(2,int_numero+1)

cadena = "*"

print(cadena)
for asterisco in asteriscos:
    
    cadena = cadena + "*"
    print(cadena)

Introduzca un número: 5
*
**
***
****
*****

In [9]:
numero = input("Introduzca un número: ")
int_numero = int(numero) 
asteriscos = range(1,int_numero+1)

for asterisco in asteriscos:
    print("*" * asterisco)

Introduzca un número: 5
*
**
***
****
*****

In [1]:
#Escribir un programa en el que se pregunte al usuario por una frase y una letra, y muestre por pantalla el número de veces que aparece la letra en la frase.

frase = input("Escriba una frase: ")

letra = input("Escriba una letra : ")
veces_letra = frase.count(letra)

if veces_letra == 1:
    print(f"Esta letra aparece 1 vez")

elif veces_letra != 1: 
    print(f"Esta letra aparece {veces_letra} veces")
    
       
else:
    print("Esta letra no aparece en la frase")

Escriba una frase: tres tristes tigres
Escriba una letra : t
Esta letra aparece 4 veces

In [9]:
mesaje = "Juan es chido"

2

17
3.2
¡Hola todo el mundo!

2

TypeError: 'n' is an invalid keyword argument for print()

In [18]:
print (7 + 5)

12

In [20]:
print(5.2, "esto", 4 - 2, "aquello", 5/2.0)

5.2 esto 2 aquello 2.5

In [23]:
pal_1 = "Solo " 
pal_2 = "trabajo "
pal_3 = "y " 
pal_4 = "nada "
pal_5 = "de "
pal_6 = "juegos "
pal_7 = "hacen "
pal_8 = "de "
pal_9 = "Juan "
pal_10 = "un " 
pal_11 = "niño "
pal_12 = "aburrido "

print(pal_1  + pal_2 + pal_3 +pal_4 + pal_5 + pal_6 +pal_7 + pal_8 + pal_9 +pal_10 + pal_11 + pal_12)

Solo trabajo y nada de juegos hacen de Juan un niño aburrido

In [24]:
 6 * (1 - 2 )

-6

In [3]:
print (4)

4

In [6]:
bien_cocinado = "pan de nuez y "
fruta = "plátano"
print (bien_cocinado + fruta)

pan de nuez y plátano

In [10]:
print ("Número de minutos desde medianoche: ", 12 * 60)

Número de minutos desde medianoche:  720

In [11]:
def elimina_vocales(s):
    vocales = "aeiouAEIOU"
    s_sin_vocales = ""
    for letra in s:
        if letra not in vocales:
            s_sin_vocales += letra
    return s_sin_vocales

In [13]:
fruta = "banana"
cuenta = 0
for carac in fruta:
    if carac == 'a':
        cuenta += 1
print (cuenta)

3

In [19]:

print(f"Usted ha obtenido un{nota_asignaturas1}en Matemáticas")

Ingrese la nota obtenida en Matemáticas: 7
Ingrese la nota obtenida en Física :6
Ingrese la nota obtenida en Arte :5
Ingrese la nota obtenida en Música :4
Ingrese la nota obtenida en Lengua :3
Usted ha obtenido un 7 en Matemáticas
Usted ha obtenido un 6 en Física
Usted ha obtenido un 5 en Arte
Usted ha obtenido un 4 en Música
Usted ha obtenido un 3 en Lengua

In [3]:

for a in range(1,11):
    for b in range(1,11):
        print(a,"*",b,"=",a*b)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [25]:

    
asignaturas_1 = float(input("Ingrese la nota obtenida en la asignatura de Matemáticas: "))
asignaturas_2 = float(input("Ingrese la nota obtenida en la asignatura de Física: "))
asignaturas_3 = float(input("Ingrese la nota obtenida en la asignatura de Arte: "))
asignaturas_4 = float(input("Ingrese la nota obtenida en la asignatura de Música: "))
asignaturas_5 = float(input("Ingrese la nota obtenida en la asignatura de Lengua: "))

asignatura = ["Matemáticas", "Física", "Arte", "Música", "Lengua"]
calificacion = [asignaturas_1,asignaturas_2,asignaturas_3,asignaturas_4,asignaturas_5]


for a,c in zip(asignatura, calificacion):
    
    print(f"Usted ha obtenido un {c} en {a}")

Ingrese la nota obtenida en la asignatura de Matemáticas: 5.6
Ingrese la nota obtenida en la asignatura de Física: 4.9
Ingrese la nota obtenida en la asignatura de Arte: 6.8
Ingrese la nota obtenida en la asignatura de Música: 4.3
Ingrese la nota obtenida en la asignatura de Lengua: 6.9
Usted ha obtenido un 5.6 en Matemáticas
Usted ha obtenido un 4.9 en Física
Usted ha obtenido un 6.8 en Arte
Usted ha obtenido un 4.3 en Música
Usted ha obtenido un 6.9 en Lengua

Ingrese la nota obtenida en la asignatura de Matemáticas: 6.5
Ingrese la nota obtenida en la asignatura de Física: 4.8
Ingrese la nota obtenida en la asignatura de Arte: 5.5
Ingrese la nota obtenida en la asignatura de Música: 7
Ingrese la nota obtenida en la asignatura de Lengua: 6.8
Usted ha obtenido un 6.5 en Matemáticas
Usted ha obtenido un 4.8 en Física
Usted ha obtenido un 5.5 en Arte
Usted ha obtenido un 7.0 en Música
Usted ha obtenido un 6.8 en Lengua

Ingrese la nota obtenida en la asignatura de Matemáticas: 7
Ingrese la nota obtenida en la asignatura de Física: 6
Ingrese la nota obtenida en la asignatura de Arte: 5.3
Ingrese la nota obtenida en la asignatura de Música: 4.8
Ingrese la nota obtenida en la asignatura de Lengua: 6.2
Usted ha obtenido un 7.0 en Matemáticas
Usted ha obtenido un 6.0 en Física
Usted ha obtenido un 5.3 en Arte
Usted ha obtenido un 4.8 en Música
Usted ha obtenido un 6.2 en Lengua

In [26]:

asignaturas_1 = float(input("Ingrese la nota obtenida en la asignatura de Matemáticas: "))
asignaturas_2 = float(input("Ingrese la nota obtenida en la asignatura de Física: "))
asignaturas_3 = float(input("Ingrese la nota obtenida en la asignatura de Arte: "))
asignaturas_4 = float(input("Ingrese la nota obtenida en la asignatura de Música: "))
asignaturas_5 = float(input("Ingrese la nota obtenida en la asignatura de Lengua: "))

asignatura = ["Matemáticas", "Física", "Arte", "Música", "Lengua"]
calificacion = [asignaturas_1,asignaturas_2,asignaturas_3,asignaturas_4,asignaturas_5]


for a,c in zip(asignatura, calificacion):
    
    print(f"Usted ha obtenido un {c} en {a}")

Ingrese la nota obtenida en la asignatura de Matemáticas: 6.5
Ingrese la nota obtenida en la asignatura de Física: 7
Ingrese la nota obtenida en la asignatura de Arte: 4.8
Ingrese la nota obtenida en la asignatura de Música: 3.9
Ingrese la nota obtenida en la asignatura de Lengua: 5
Usted ha obtenido un 6.5 en Matemáticas
Usted ha obtenido un 7.0 en Física
Usted ha obtenido un 4.8 en Arte
Usted ha obtenido un 3.9 en Música
Usted ha obtenido un 5.0 en Lengua

In [10]:
lista_diccionarios = [{"saludo":"hola", "despedida": "chao"}, {"saludo": "hello", "despedida": "goodbye"},{"saludo": "こんにちは", "despedida": "じゃ、また"}]

def saludar(nombre: str, diccionario: dict[str,str]) -> str:
    saludo = diccionario.get("saludo", "ESTE VALOR ESTA POR DEFECTO JAJA")
    return f"{saludo}, {nombre}" 

def despedir(nombre: str, diccionario: dict[str,str]) -> str:
    despedida = diccionario.get("despedida", "ESTE VALOR ESTA POR DEFECTO JAJA")
    return f"{despedida}, {nombre}:("
    
saludar("Yolanda", {"saludo":"hola", "despedida": "chao"})
saludar("Yolanda", {}) # no funciona porque pasé un diccionario vacío
despedir(nombre= "Yolanda",diccionario ={"saludo": "こんにちは", "despedida": "じゃ、また"} )

for diccionario in lista_diccionarios:
    
    print(saludar("yolanda", diccionario))
    print(despedir("yolanda", diccionario))

hola, yolanda
chao, yolanda:(
hello, yolanda
goodbye, yolanda:(
こんにちは, yolanda
じゃ、また, yolanda:(

#####